.fila-comprobante{
    grid-template-columns: repeat(2,50%);
    text-align: center;
}
.fila-comprobante div{
    border: 1px solid #237583;
    padding: 1rem;
}
.img-exito{
    height: 3rem;
}
#btn-imprimir{
    margin-top: 2rem;
}
.container-grid > div {
  white-space: normal;    
  word-break: break-word; 
  overflow-wrap: break-word;
}