
/* Se estiliza la pagina de inicio de sesion */
.body-inicio{
    background-image: url(/imagenes/fondo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.inicioSesion{
    width: 100vw;
    height: 100%;
}

.incioS-contenedor{
    background-color: var(--color-blanco);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 40%;
    margin:2.5rem 0; 
}
.logo{
    height: 20vh;
}
.unete{
    height: 2.5rem;
}
.inicio-up{
    margin-bottom: 1.5rem;
}