/* Se estilizo la barra de navegación */
header{
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: var(--color-clarito);
    z-index: 50;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra inferior suave */
}
nav{
    margin: 0 1%;
    height: 100%;
}
.img-contenedor{
    height: 100%;  
}
.img-nav{
    height: 3rem;          
    object-fit: contain;       
}
.flex-interno{
    gap: 10PX;
}
.sucursal{
    border-left: 1px solid black;
    height: 100%;
    padding-left: 5%;
}