/* Se hace la estilización de los estilos principales */
html, body{
    height: 100%;
}
body {
    font-family: 'Montserrat';
}
:root {
  --color-principal:    #237583;
  --color-secundario:   #64a9ab;
  --color-terciario:    #3a8797;
  --color-profundo:     #094d5e;
  --color-clarito:      #faead0;
  --color-blanco:       #fafafa;
}
.container-flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-center-vertical{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.flex-sb{
    justify-content: space-between;
}
.flex-sa{
    justify-content: space-evenly;
}
/* Se estilizo la barra de navegación */
header{
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: var(--color-clarito);
}
nav{
    margin: 0 1%;
    height: 100%;
}
.img-contenedor{
    height: 100%;  
}
.img-nav{
    height: 50%;          
    object-fit: contain;       
}
.flex-interno{
    gap: 10PX;
}
.sucursal{
    border-left: 1px solid black;
    height: 100%;
    padding-left: 5%;
}
/* Se estiliza la pagina de inicio de sesion */
.body-inicio{
    background-image: url(/imagenes/fondo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.inicioSesion{
    width: 100vw;
    height: 100vh;
}
.logo{
    width: 30%;
}
/* Estilizacion del footer */
.icon-redes{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-blanco);
}
.icon-redes img{
    height: 1.3rem;
    width: 1.3rem;
}
.bg-light{
    background-color: var(--color-clarito);
}
.bg-dark{
    background-color: #094d5e;
    padding: 2rem 0;
}
a {
  color: inherit;
  text-decoration: none;  
}
.bg-dark{
    color: var(--color-blanco);
    gap: 2rem;
}
.contactenos{
    margin-left: 1rem;
}
.politicas{
    border-right: 1px solid ;
    border-left: 1px solid ;
    padding: 0 2rem;
}
.redes-vigilado{
    margin-right: 1rem;
}
.redes{
    margin-bottom: 2rem;
}
.footer-img{
    height: 10rem;
}